.q-input {
  min-height: 36px;
}
.default-input {
  height: 40px;
  min-height: 36px;
  width: 100%;
}
.q-field div.q-field__control {
  height: 36px;
  min-height: 36px;
}
.q-field__label {
  top: 8px;
}
